body {
    background-color: #eee;
}

.flexContainer {
    background-color: #eee;
    display: flex;
    margin: 0 auto;
    /* width: 700px; */
    border: 1px solid orange;
    padding: 10px;
}

.navigation {
    flex: 4
}

.errorMessages {
    flex: 2
}

.error {
    padding-top: 0;
    margin-top: 0;
    color: red;
    font-weight: bold;
}

.flexLogin {
    flex: 1;
    text-align: right;
}


.sideLoginLogout {
    color: black;
}